header{
    color:black;
    background-color: silver;
    font-family: serif, "Bauhaus 93";
    letter-spacing: 0.2cm;
}
nav{
    padding-bottom: 20px;
    margin-top: 3px;
    background-color: silver;
}
nav li{
    float: left;
}
nav ul{
    list-style-type: none;
    overflow: visible;
}
nav li a{
    display: block;
    padding: 10px;
    background-color: silver;
    text-decoration: none;
    text-align:center;
}
/*nav menüüs link fookuses on teise taustaga*/
nav li a:hover{
    background-color: aquamarine;
}
footer{
    position:fixed;
    left:0;
    bottom:0;
    background-color: gold;
    width: 100%;
    text-align: center;
}
main section {
    border-left: 6px solid gold;
    background-color: silver;
    border-radius: 60px;
    padding: 2%;
    width: 30%;
    margin:30px;
}
section#teine{
    position: absolute;
    left: 700px;
    top: 110px;
}